@import url("https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.2/css/all.min.css");
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

html{
    font-family: "Inter";
}

body{
    background: url('images/background.jpg') no-repeat center center;
}

.main-container{
    width: 80em;
    margin: 2em auto;
    display: flex;
    
    gap: 2em;
}

.row-1-2{
    max-width: 60%;
    display: flex;
    flex-direction: column;
    gap: 2em;
     
}



.row, .col{
   background: white;
   padding: 3em 2em;
}

.col{
    max-width: 30%;
    display: flex;
    flex-direction: column;
    padding: 2em 2em;
}

.cardImg img {
    display: block;
    width: 100%;
    height: auto;
    aspect-ratio: 1/1;
    border-radius: 50%;
    object-fit: cover;
    object-position: top 80%;

}

.cardImg1 img {
    display: block;
    width: 100%;
    height: auto;
    aspect-ratio: 1/1;
    border-radius: 50%;
    object-fit: cover;
    object-position: top 80%;
    filter: grayscale(1);

}

.card{
    display: flex;
   flex: 1 1 100%;
    justify-content: space-between;
}

.cardBody{
    min-width: 75%;
    padding-right: 2em;
}

 .cardImg {
    font-display: flex;
    justify-content: center;
    min-width: 15%;
    align-items: center;
}

.cardBody i {
    font-size: 3em;
    padding-bottom: 0.3em;
    
}

.name{
    padding-top: 2em;
}


.col1 i{
    font-size: 5em;
    padding-bottom: 0.8em;
}

.col{
    display: flex;
    justify-content: space-between;
    
    
}

.img-col{
    border-top: 1px solid #D9D9D9 ;
    padding-top: 1em;
}

.col-pic{
  max-width: 20%;
}

.img-col{
    display: flex;
    
    align-items: center;
    justify-content: start;
}

.col-name{
    padding-left: 1em;
}

.work{
    font-size: 10px;
    padding-top: 0.3em;
}