* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

html{
font-family: Helvetica, sans-serif;
line-height: 2em;
}

.container{
    max-width: 70em;
    border: 6px solid #000000;
    border-radius: 1em;
    background: #1881B6;
    margin: 4em auto;
    display: flex;
    justify-content: center;
   
}

.text-part{
    min-width: 40%
}

.img-part{
    min-width: 40%;
}

img {
    display: block;
    width: 100%;
    height: auto;
}

.text-part {
    padding: 2em 1em 2em 3em;
}

.img-part{
    padding: 2em 2em 2em 0.5em;
}

h3{
    padding-top: 2em;
    padding-bottom: 1.6em;
    text-transform: uppercase;
}

h1{
    color: #FFFFFF;
    font-weight: normal;
    font-size: 2.5em;
}

.text-part p{
    text-indent: 4em;
    padding-top: 1.8em;
}

.buttons{
    display: flex;
    justify-content: space-evenly;
    padding-top: 2.5em;
    
}

.red, .black{

    padding: 0.6em 1.2em;
    border: 1px solid black;
    border-radius: 0.3em;
    justify-content: center;
    font-weight: bold;
    
}

.red{
    background: #B6416D;
    color: white;

}

.black{
    background: #1881B6;
    color: #000000;
    
}
    
